<style>
#sidebar-page-content {
  position: absolute;
  width: 100%;
  left: 5%;
  right: 5%;
  padding: 5px;
  transition: .5s ease all;
  height: calc(100% - 150px);
}
.breadcrumb {
  width : 82%;
}
.alert {
  width: 82%;
}
select > option{ font-size:17px; }
.list-group {
  margin-bottom: 0px;
  padding-left: 0;
}
.btn-info {
  background-color: #ddd3;
}
.btn-info:hover {
  background-color: #ddd;
}
.btn-info:active {
  background-color: #ddd;
}
.list-group {
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 4px;
  border-color: #171515;
}
#page-wrapper.show-sidebar #sidebar-page-content {
  width: calc(95% - 50px);
}
</style>
<div class='parent'>
  <h2></h2>
  <label></label>
  <div class="col-xs-3">
    <div class="panel panel-default-table panel-table">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Project details </strong></h3>
      </div>
      <div class="panel-body ">
        <table class="table table-hover" id="dev-table">
          <tbody>
            <tr>
              <td colspan="2" >
                <label  for="projectName">Project Name </label>
                <input type="text" ng-cloak placeholder="Name of the project" id="projectName" name="projectName" class="form-control" ng-model="finalProject.projectName" readonly>
              </td>
            </tr>
            <tr>
              <td colspan="2" >
                <label  for="textinput">Project lead</label>
                <input type="text" ng-cloak  class="form-control" id="projectLeader" name="projectLeader" placeholder="Project leader" ng-repeat="person in peopleList"  ng-if="person.personId == finalProject.projectLeader"  ng-model="person.personName" readonly>
                <input type="text" ng-cloak  class="form-control" id="projectLeader" name="projectLeader" placeholder="Project leader"  ng-if="!finalProject.projectLeader"  ng-model="finalProject.projectLeader" readonly>
              </td>
            </tr>
            <tr>
              <td colspan="2" >
                <label  for="textinput">Project's estimated effort</label>
                <input type="number"  ng-cloak  class="form-control" id="projectEstimatedEffort" name="projectEstimatedEffort" placeholder="Person/hours"  ng-model="finalProject.projectEstimatedEffort " readonly>
              </td>
            </tr>
            <tr>
              <td width="50%">Start date</td>
              <td  width="50%" >End date</td>
            </tr>
            <tr>
              <td>
                <input type="text" ng-cloak  id="projectStartDate" name="projectStartDate" class="form-control"  ng-readonly="true" ng-model="finalProject.projectStartDate" readonly> </td>
                <td>
                  <input type="text" ng-cloak  id="projectEndDate" name="projectEndDate" class="form-control"  ng-model="finalProject.projectEndDate" readonly ></td>
                </tr>
                <tr>
                  <td colspan="2" style="border-top: 1px solid #fff; text-align: center" >
                    <md-button type="submit" style="font-size: 15px; background-color: rgb(90, 132, 187);"  class="add-tab md-primary md-raised" ng-click="manageProject(finalProject)"> <i class="glyphicon glyphicon-edit"> </i> Edit  </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div >
      <div class='col-xs-5 list-group' style="min-height: 110px; border: 1px solid; border-style: solid; padding-bottom: 1px;">
        <div style="    color: #333;background-color: #d2d2d2; border-color: #d2d2d2;margin-top: 0; margin-bottom: 10px; border-bottom: 1px solid transparent; border-top-right-radius: 3px; border-top-left-radius: 3px; padding: 10px;" class="list-group-item">
          <strong>People</strong>
        </div>
        <div class="list-group-item">
          Select Role:
          <select    ng-model="selectedRole" ng-change="filterPeople()"> <option ng-repeat="role in rolesList"   value= {{role.roleId}}> {{role.roleName}} </option></select>
        </div>
        <div style="max-height:50vh;overflow-x:hidden;overflow-y:auto;">
          <div  ng-if="item.roleId == selectedRole"  class="" ng-repeat="item in rolesOfPeople" >
            <div ng-if="item.roleId == selectedRole"  ng-cloak class="btn btn-block btn-droppable list-group-item" ng-repeat="person in peopleList" ng-show="person.personId == item.personId" data-drop="true" ng-model='peopleList' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=peopleList])'}"  jqyoui-droppable="{index: {{$index}}}">
              <div style="display: inline-flex;" ng-if="person.personId == item.personId"  ng-show="person.personId == item.personId" ng-cloak  ng-init="person.roleId= selectedRole" class="btn btn-default btn-block btn-draggable" data-drag="{{true}}" data-jqyoui-options="{revert: 'invalid',helper:'clone',appendTo:'.selectedPeople',containment:'document',scroll:'false'}" ng-model="peopleList" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!person.personName">
                <table style="width: 100%">
                  <thead>
                    <tr>
                      <th>Name
                      </th>
                      <th>Projects
                      </th>
                      <th>Sprints
                      </th>
                      <th>Issues assigned
                      </th>
                    </tr>
                  </thead>
                  <col width="35%" />
                  <col width="25%" />
                  <col width="25%" />
                  <col width="14%" />
                  <tbody>
                    <tr>
                      <td >
                        <span ng-model="letterLimit"  class="avatar" alt="datta" data-toggle="tooltip" data-placement="top" data-container="body"  style="background-color: #29516D;width: 28px; height: 26px; font-size: 12px; padding-top: 5px; margin-right: 3px" data-original-title={{person.personName}}>{{ person.personName | limitTo:2 | uppercase }}</span>
                        {{person.personName | capitalize }}
                      </td>
                      <td>
                        <span style="display: table-row;" ng-repeat="personProject in person.projects">
                          <ul>
                            {{personProject.projectName | capitalize }}
                          </ul>
                        </span>
                      </td>
                      <td>
                        <span style="display: table-row;" ng-repeat="personProject in person.projects">
                          <ul ng-repeat="personSprints in personProject.sprints">
                            {{personSprints.sprintName}}
                          </ul>
                        </span>
                      </td>
                      <td>
                        <span style="display:  table-row;" ng-repeat="personProject in person.projects">
                          <ul ng-repeat="personSprints in personProject.sprints">
                            {{personSprints.numberofIssues}}
                          </ul>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-3 selectedPeople'>
        <div class="panel panel-default-table panel-table">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Project Participants </strong></h3>
          </div>
          <div class="panel-body ">
            <table class="table table-hover" >
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td style="padding-left: 0px;">
                    <div class="thumbnail" style="min-height: 250px;border: 5px dotted #5d5c5c; color: #333;margin-bottom: 10px;border-radius: 3px;" data-drop="true" ng-model='list2' jqyoui-droppable>
                      <div style="text-align: center;" ng-if="list2 == ''">  Drag and Drop to add project participants
                      </div>
                      <div ng-repeat="item in list2">
                        <md-checkbox  type="checkbox" style="margin-bottom: 10px;width: 100%;display: grid;" class="md-primary"  ng-model="removeSelected[item.personId]" >
                          <md-tooltip md-direction="left">Remove {{item.personName}}</md-tooltip>
                          <div class="list-group  btn-info btn-draggable" style="color: #333;cursor: pointer;" ng-show="item.personId" data-drag="{{true}}"  data-jqyoui-options="{revert: 'invalid',helper:'clone',appendTo:'parent',containment:'document',scroll:'false',onDrop: addBack(showRemove)}" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
                            <div   ng-repeat="role in rolesList" ng-if=" item.roleId == role.roleId " style="display: flex; border: 1px solid; border-radius: 8px;" >
                              <table style=" width: 100%;">
                                <tr style=" width: 100%;">
                                  <td style="width: 50%;">
                                    <span ng-model="letterLimit"  class="avatar" style="background-color: #29516D;width: 28px; height: 26px; font-size: 12px; padding-top: 5px; margin-right: 3px">{{ item.personName | limitTo:2 | uppercase }}</span>
                                    <span style="text-align: left;">{{item.personName | capitalize}}</span>
                                  </td>
                                  <td style="width: 50%;">
                                    <span style="text-align: left;">{{role.roleName}}</span>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </md-checkbox></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="border-top: 1px solid #fff; text-align: center" >
                      <md-button  class=" md-raised" ng-show="showRemove"  ng-if="list2 != ''" ng-click="removeProjectParticipants()"> Remove </md-button>
                      <md-button type="submit" ng-show="showRemove" style=" background-color: rgb(90, 132, 187);"  class="add-tab md-primary md-raised" ng-if="list2 != ''" ng-click="updateProjectParticipants(list2)"> Save </md-button>
                      <md-button  class=" md-raised" ng-show="showRemove" ng-if="list2 != ''" ng-click="clearParticipants($event, list2)"> Clear </md-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
