<style>
  select>option {
    font-size: 17px;
  }

  .list-group {
    margin-bottom: 0px;
    padding-left: 0;
  }

  .list-group {
    margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
    border-color: #171515;
  }

  #page-wrapper.show-sidebar #sidebar-page-content {
    width: calc(81% - 50px);
  }

  .md-cancel-button {
    background: whitesmoke;
  }

  .md-confirm-button {
    background: whitesmoke;
  }

  canvas {
    background: #fff;
  }

  .btn-info {
    background-color: #ddd3;
  }

  .btn-info:hover {
    background-color: #ddd;
  }

  .btn-info:active {
    background-color: #ddd;
  }

  .dropdown.dropdown-lg {
    position: static !important;
  }

  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 100%;
  }

  .ui-state-disabled,
  .ui-widget-content .ui-state-disabled,
  .ui-widget-header .ui-state-disabled {
    opacity: 1;
  }

  .thumbnail {
    min-height: unset;
  }
</style>
<div>
  <div style="margin-top: 15px;" class="alert alert-info" role="alert">
    Click a name, update and save the capabilities of each person in relation to <strong>{{ projectName}} </strong> project.
  </div>
</div>
<div class='parent'>
  <h2></h2>
  <label></label>
  <div class="col-md-3">
    <div class="list-group" style="min-height: 110px; border: 1px solid #17151566; border-style: solid; padding-bottom: 1px;border-radius: 3px;">
      <div style="    color: #333;background-color: #d2d2d2; border-color: #d2d2d2;margin-top: 0; margin-bottom: 10px; border-bottom: 1px solid transparent; border-top-right-radius: 3px; border-top-left-radius: 3px; padding: 10px;" class="list-group-item">
        <strong>Project participants</strong>
      </div>
      <div style="max-height:60vh;overflow-x:hidden;overflow-y:auto;">
        <div>
          <div ng-cloak style="display: inline-flex;padding: 5px 10px;margin-bottom: 2px;" class="btn btn-block list-group-item" ng-repeat="person in projectParticipants  | orderBy:'personName'" ng-hide="!person.personName" ng-model='projectParticipants'>
            <div style="margin-left: 5px;display: inline-flex;width: 100%;z-index:100;" ng-cloak class="btn btn-default btn-block" ng-click="updatePersonCapability(person)" ng-hide="!person.personName">
              <table style="width: 100%">
                <col width="49%" />
                <col width="49%" />
                <tbody>
                  <tr>
                    <td>
                      <span ng-model="letterLimit" class="avatar" style="background-color: #29516D; width: 28px; height: 26px; font-size: 12px; padding-top: 5px; margin-right: 3px" data-original-title={{person.personName}}>{{ person.personName | limitTo:2 | uppercase }}</span>                      {{person.personName | capitalize }}
                      <md-tooltip md-direction="top"> {{person.personName | capitalize }} </md-tooltip>
                    </td>
                    <td>
                      <span style="display:  table-row;margin-left: 10%;">
                        {{person.roleName}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-8">
    <div class="list-group" style="min-height: 110px; border: 1px solid #17151566; border-style: solid; padding-bottom: 1px;border-radius: 3px;">
      <div style="color: #333; background-color: #d2d2d2; border-color: #d2d2d2;margin-top: 0; margin-bottom: 10px; border-bottom: 1px solid transparent; border-top-right-radius: 3px; border-top-left-radius: 3px; padding: 10px;" class="list-group-item">
        <strong ng-show="displayCapabilities">Capabilities of {{currentSelectedPerson.personName  | capitalize}}</strong>
        <strong ng-hide="displayCapabilities">Capabilities</strong>
      </div>
      <div class="list-group-item" style="display: inline-flex; width: 100%;  overflow: unset;">
        <div class="container">
          <form class="form-horizontal" name="form">
            <fieldset>
              <div ng-if="currentSelectedPerson.personId" class="control-group">
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 20px;" for="textinput">Commitment</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider1.value" rz-slider-options="slider1.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 20px;" for="textinput">Domain knowledge</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider2.value" rz-slider-options="slider2.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 10px;" for="textinput">Person's own interest</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider3.value" rz-slider-options="slider3.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 10px;" for="textinput">Previous deliverables' quality</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider4.value" rz-slider-options="slider4.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 10px;" for="textinput">Previous projects performance</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider5.value" rz-slider-options="slider5.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 10px;" for="textinput">Programming experience</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider6.value" rz-slider-options="slider6.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 10px;" for="textinput">Programming language knowledge</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider7.value" rz-slider-options="slider7.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="padding-top: 10px;" for="textinput">Understanding software security</label>
                  <div class="col-sm-10">
                    <article>
                      <rzslider rz-slider-model="slider8.value" rz-slider-options="slider8.options"></rzslider>
                    </article>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6 col-md-3 col-md-push-4">
                    <div class="pull-center">
                      <md-button class="add-tab md-primary md-raised" style="font-size: 15px; background-color: rgb(90, 132, 187);" type="submit" ng-click="updateCapabilities(currentSelectedPerson)">Save</md-button>
                      <md-button type="reset" type="reset" style="font-size: 15px; " ng-click="clearCapabilities()">Clear </md-button>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="!currentSelectedPerson.personId">
                <div style="margin-top: 15px;" class="alert alert-info" role="alert">
                  Select a project member to display his/her capabilities.
                </div>
              </div>
            </fieldset>
          </form>
        </div>



      </div>

    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
