<style>
  .md-button.md-default-theme.md-fab,
  .md-button.md-fab {
    background-color: rgb(83, 92, 152);
    color: rgb(255, 255, 255);
  }

  .md-button.md-fab:hover {
    background-color: rgb(98, 108, 170) !important;
    color: rgb(255, 255, 255);
  }

  .md-tooltip {
    height: auto;
    line-height: 20px;
    font-size: 11px;
  }

  ul {
    margin-left: 10px;
  }
</style>
<user-card ng-cloak ng-show="newUserName" name="{{newUserName | capitalize}}" project="{{totalProjects}}"></user-card>
<md-content style="overflow: unset;margin-bottom: 50px;">
  <md-whiteframe class="md-whiteframe-18dp" layout layout-align="center center">
    <div class="container">

      <form ng-if="totalProjects != '0'" class="form-horizontal" name="form">
        <fieldset>
          <div class="control-group">
            <div class="form-group">
              <label class="col-sm-2 control-label" style="padding-top: 20px;" for="textinput">Commitment</label>
              <div class="col-sm-10" style="padding-top: 10px;">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Superficial</th>
                      <th>Satisfactory</th>
                      <th>Good</th>
                      <th>Excellent</th>
                      <th>Perfect</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '1'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '1'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '1'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '1'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '1'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Domain knowledge</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Superficial</th>
                      <th>Satisfactory</th>
                      <th>Good</th>
                      <th>Excellent</th>
                      <th>Perfect</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '2'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '2'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '2'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '2'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '2'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Person's own interest</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Undefined</th>
                      <th>No match</th>
                      <th>Average match</th>
                      <th>Good match</th>
                      <th>Excellent match</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '3'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '3'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '3'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '3'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '3'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Previous deliverables' quality</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Undefined</th>
                      <th>Acceptable</th>
                      <th>Good</th>
                      <th>Excellent</th>
                      <th>Outstanding</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '4'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '4'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '4'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '4'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '4'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Previous projects performance</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Undefined</th>
                      <th>Acceptable</th>
                      <th>Good</th>
                      <th>Excellent</th>
                      <th>Outstanding</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '5'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '5'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '5'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '5'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '5'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Programming experience</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Undefined</th>
                      <th>Average</th>
                      <th>Good</th>
                      <th>High</th>
                      <th>Very high</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '6'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '6'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '6'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '6'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '6'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Programming language knowledge</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Undefined</th>
                      <th>Acceptable</th>
                      <th>Good</th>
                      <th>Excellent</th>
                      <th>Outstanding</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '7'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '7'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '7'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '7'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '7'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Understanding software security</label>
              <div class="col-sm-10">
                <table class="table table-hover" id="dev-table">
                  <thead>
                    <tr>
                      <th>Undefined</th>
                      <th>Average</th>
                      <th>Good</th>
                      <th>High</th>
                      <th>Very high</th>
                    </tr>
                  </thead>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <col width="20%" />
                  <tbody>
                    <tr ng-repeat="capability in assessedCapabilities">
                      <td ng-if="capability.capabilityId == '8'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option1Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option1Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option1}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '8'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option2Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option2Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option2}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '8'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option3Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li ng-repeat="project in  capability.option3Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option3}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '8'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option4Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option4Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option4}}
                            </md-button>
                            </span>
                      </td>
                      <td ng-if="capability.capabilityId == '8'">
                        <span>
                            <md-button class="md-fab">
                        <md-tooltip md-direction="right">
                          <p>Projects with this rating:</p>
                          <ul ng-if="capability.option5Projects.length=='0'">
                            <li > None </li>
                          </ul>
                          <ol>
                            <li  ng-repeat="project in  capability.option5Projects"> {{ project }} </li>
                          </ol>
                         </md-tooltip>
                         {{capability.option5}}
                            </md-button>
                            </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </md-whiteframe>
</md-content>
