<style>
  p {
    display: inline;
  }
  .glyphicon.glyphicon-edit {
    font-size: 25px;
  }
  .glyphicon.glyphicon-trash {
    font-size: 25px;
  }
</style>
<script>
  $(".nav-tabs li").eq(0).addClass("active");
  $(".nav-tabs li").eq(1).removeClass("active");
  $(".nav-tabs li").eq(2).removeClass("active");
  $(".nav-tabs li").eq(3).removeClass("active");
  $(".nav-tabs li").eq(4).removeClass("active");
</script>
<md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center" style="margin-bottom: 50px;">
  <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
    <div class="panel panel-default-table panel-table" style="margin-bottom: 0px;">
      <div class="panel-heading">
        <input ng-if="programmingSkillsList.length != 0" type="text" style="margin-top: 10px;" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter skill"/>
        <div class="pull-right">
          <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body"></span>
        </div>
      </div>
      <div class="panel-body project-table-responsive">
        <md-whiteframe class="md-whiteframe-24dp"  layout layout-align="center center">
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr ng-if="programmingSkillsList.length != 0">
                <th>Skill Name </th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <col width="50%" />
            <col width="25%" />
            <col width="25%" />
            <tbody>
              <tr ng-repeat="skill in programmingSkillsList" >
                <td>
                  <div>{{skill.skillName | capitalize }}</div>
                </td>
                <td>
                  <span class="pull-center"><i ng-click="editSkillDetails($event,skill)" class="glyphicon glyphicon-edit"></i><md-tooltip md-direction="right"> Edit the details of {{skill.skillName}} </md-tooltip></i></span>
                </td>
                <td>
                  <span class="pull-center"><i ng-click="deleteSkill($event,skill)" class="glyphicon glyphicon glyphicon-trash"></i><md-tooltip md-direction="right"> Delete {{skill.skillName}} </md-tooltip></i></span>
                </td>
              </tr>
              <tr ng-if="programmingSkillsList.length == 0">
                <td colspan="5">
                  <div style="margin-top: 15px;" class="alert alert-info" role="alert">
                    <strong>Info: </strong> No skills added yet! You can add new skills while creating a person's profile or editing an exisiting person's details.
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </md-whiteframe>
      </div>
    </div>
  </div>
</md-whiteframe>
<script src="js/searchText.js"></script>
