<style>
p {
  display: inline;
}
</style>
<md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center" style="margin-bottom: 50px;">
  <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
    <div class="panel panel-default-table panel-table" style="margin-bottom: 0px;">
      <div class="panel-heading">
        <md-button ng-disabled="enable" type="submit" style="font-size: 15px; background-color: rgb(90, 132, 187);" class="add-tab md-primary md-raised" ui-sref="management.people.addPerson.newPerson" > <i class="glyphicon glyphicon-plus"></i>Add person <md-tooltip  ng-show="enable"  md-direction="right"> This option has been disabled</md-tooltip> </md-button>
        <input type="text" style="margin-top: 10px;" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter People"/>
        <div class="pull-right">
          <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body"></span>
        </div>
      </div>
      <div class="panel-body people-table-responsive">
        <md-whiteframe class="md-whiteframe-24dp"  layout layout-align="center center">
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th>Person Name</th>
                <th>Current Projects</th>
                <th>Current Sprints</th>
                <th>Number of Issues</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="person in people"  ng-click="managePerson(person)">
                <td>
                  <span ng-model="letterLimit" class="avatar" alt="datta" data-toggle="tooltip" data-placement="top" data-container="body" style="background-color: #29516D; width: 28px;height: 26px;font-size: 12px;padding-top: 5px;margin-right: 3px" data-original-title={{participant.personName }}> {{ person.personName | limitTo:2 | uppercase }}<md-tooltip md-direction="top"> {{ person.personName }}</md-tooltip>
                  </span>   {{person.personName | capitalize }}
                </td>
                <td>
                  <span ng-repeat="personProject in person.projects">
                    <ul ng-repeat="(key,personSprints) in personProject.sprints">
                      <span ng-show="key==0">{{personProject.projectName | capitalize }} </span>
                      <span ng-show="key>0"> <br/> </span>
                    </ul>
                  </span>
                </td>
                <td>
                  <span ng-repeat="personProject in person.projects">
                    <ul ng-repeat="personSprints in personProject.sprints">
                      {{personSprints.sprintName}}
                    </ul>
                  </span>
                </td>
                <td>
                  <span ng-repeat="personProject in person.projects">
                    <ul ng-repeat="personSprints in personProject.sprints">
                      {{personSprints.numberofIssues}}
                    </ul>
                  </span>
                </td>
              </tr>
              <tr ng-if="people.length == 0">
                <td colspan="4">
                  <div style="margin-top: 15px;" class="alert alert-info" role="alert">
                    <strong>Info: </strong> No people found! Did you synchronize with Redmine? Click on <strong>Synchronize</strong> to import people from Redmine.
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </md-whiteframe>
      </div>
    </div>
  </div>
</md-whiteframe>
<script src="js/searchText.js"></script>
