<script>
$(".nav-tabs li").eq(2).addClass("active");
$(".nav-tabs li").eq(0).removeClass("active");
$(".nav-tabs li").eq(1).removeClass("active");
</script>
<style>
.md-button.md-default-theme.md-primary.md-cancel-button {
  background: whitesmoke;
  color: rgb(63,81,181);
}
.md-button.md-default-theme.md-primary.md-confirm-button {
  background: whitesmoke;
  color: rgb(63,81,181);
}
.md-tab {
  font-size: 16px;
}
md-autocomplete input:not(.md-input) {
  font-size: 17px;
}
.md-autocomplete-suggestions li{
  font-size: 17px;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: rgb(90, 132, 187);
  color: rgba(0,0,0,0.87);
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
  color: #333;
}
</style>
<user-card ng-cloak ng-show ="newUserName"  name="{{newUserName | capitalize}}"></user-card>
<md-content style="overflow: unset; font-size: 17px;margin-bottom: 50px;" >
  <md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center">
    <div class="container ">
      <div  class="sample" layout="column" ng-cloak>
        <div class = "class="col-sm-10">
          <form class="md-padding" ng-submit="" >
            <div style="width: 100%; display: inline-flex;">
              <div style="width: 50%">
                <md-autocomplete
                ng-disabled="isDisabled"
                md-no-cache="noCache"
                md-selected-item="selectedItem"
                md-search-text-change="searchTextChange(searchText)"
                md-search-text="searchText"
                md-selected-item-change="selectedItemChange(item)"
                md-items="item in searchTextChange(searchText)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder="Select or add a programming skill">
                <md-item-template >
                  <a ng-click="addTab(item.display,item.display)"> <span  md-highlight-text="searchText" md-highlight-flags="^i">{{item.display | capitalize}}</span></a>
                </md-item-template>
                <md-not-found>
                  Cannot find "{{searchText}}" skill.
                  <a ng-click="newState($event,searchText)">Add as a new Skill!</a>
                </md-not-found>
              </md-autocomplete>
              <!--{{ ctrl.querySearch(ctrl.searchText)}} -->
            </div>
            <div style="width: 50%">
              <style>
                .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary, .md-button.md-primary.md-raised {
                  color: rgba(255,255,255,0.87);
                  background-color: rgb(90, 132, 187);
                }
                .md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused,.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover,.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused,.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
                  background-color: rgb(90, 132, 187);
                }
                .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled] {
                  background-color: rgba(0,0,0,0.12);
                }
              </style>
              <md-button style="margin: 2px 20px; font-size: 15px;" ng-click="addTab(selectedItem.value,selectedItem.value)" class="add-tab md-primary md-raised" ng-disabled="!selectedItem.value" type="submit" >Select skill</md-button>
            </div>
          </div>
        </form>
      </div>
      <md-content >
        <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
          <md-tab ng-repeat="tab in tabs"
          ng-disabled="tab.disabled"
          ng-hide = "hide{{$index%4}}"
          label="{{tab.title}}">
          <div class="col-xs-3 col-md-3 col-md-push-9">
            <md-button class="md-primary md-raised" style=" font-size: 15px;"ng-click="removeTab( tab )" ng-if="tab.title != 'Instructions'">Remove skill</md-button>
          </div>
          <div class="col-xs-12">
            <div class="demo-tab tab{{$index%4}}" style="padding: 20px; text-align: center;">
              <div ng-if="tab.title != 'Instructions'" ng-bind="'Rate the proficiency for ' + tab.content"></div>
              <div ng-if="tab.title == 'Instructions'" ng-bind="tab.content"></div>
              <article style="margin-bottom: 20px;" ng-if="tab.title == 'Instructions'" >
              </article >
              <article style="margin-bottom: 20px;" ng-if="tab.title != 'Instructions'"  >
                <div >
                  <rzslider  rz-slider-model="tab.proficiency"  rz-slider-options="sl.options"></rzslider>
                </div>
              </article >
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div class="col-xs-3 col-md-6 col-md-push-4">
    <md-button class="md-primary md-raised" style=" font-size: 15px;"ng-click="saveSkills(tabs)" ng-if="tabs[0].title != 'Instructions'">Save all skills</md-button>
    <md-button type="reset"  class="md-raised"  style="font-size: 15px; " ng-if="tabs[0].title != 'Instructions'"  ng-click="clearSkills($event)">Cancel </md-button>
  </div>
</div>
</md-whiteframe>
</md-content>
