<style>
.md-button.md-default-theme.md-primary.md-cancel-button {
  background: whitesmoke;
  color: rgb(63,81,181);
}
textarea[readonly=true], textarea[readonly] {
  background-color: #eee;
  cursor: not-allowed;
}
.md-button.md-default-theme.md-primary.md-confirm-button {
  background: whitesmoke;
  color: rgb(63,81,181);
}
.md-button.md-icon-button {
  margin: -4px 2px;
}
.md-icon-button + .md-datepicker-input-container {
  margin-left: 0px;
}
._md-datepicker-has-triangle-icon {
  padding-right: 0px;
  margin-right: 0px;
}
.md-button.md-icon-button {
  margin: -4px 2px;
}
.md-datepicker-input {
  min-width: 76px;
  color: #555;
}
.md-icon-button + .md-datepicker-input-container {
  margin-left: 0px;
}
._md-datepicker-has-triangle-icon {
  padding-right: 0px;
  margin-right: 0px;
}
.md-datepicker-input {
  min-width: 80px;
  color: #555;
}
md-autocomplete {
  height: 35px;
}
.md-default-theme .md-datepicker-input-mask-opaque, .md-datepicker-input-mask-opaque {
  left: 2px;
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary, .md-button.md-primary.md-raised {
  color: rgba(255,255,255,0.87);
  background-color: rgb(90, 132, 187);
}
.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused,.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover,.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused,.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: rgb(90, 132, 187);
}
.md-toolbar-tools {
  min-width: 600px;
}
svg:not(:root) {
  height: 15px;
}
</style>
<script>
$(".nav-tabs li").eq(0).addClass("active");
$(".nav-tabs li").eq(1).removeClass("active");
$(".nav-tabs li").eq(2).removeClass("active");
$(".nav-tabs li").eq(3).removeClass("active");
$(".nav-tabs li").eq(4).removeClass("active");
$(".nav-tabs li").eq(5).removeClass("active");
</script>
<md-content style="overflow: unset;margin-bottom: 50px;" >
  <md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center">
    <div class="col-md-12">
      <div class="col-md-7" id="extras" style="align-self: normal;">
        <form class="form-horizontal" name="form" ng-submit="form.$valid && updateSprint(sprint)" ng-init="readOnly = true"  novalidate>
          <fieldset>
            <div class="control-group" >
              <!-- Form Name -->
              <!-- Text input-->
              <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.sprintName.$invalid }">
                <label class="col-sm-3 control-label" for="sprintName">Sprint Name</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="Name of the sprint" id="sprintName" name="sprintName" ng-readonly="readOnly" class="form-control" ng-model="sprint.sprintName" required>
                  <div ng-messages="form.$submitted && form.sprintName.$error" class="help-block">
                    <div ng-message="required">Sprint name is required</div>
                  </div>
                </div>
              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-sm-3 control-label" for="textinput">Description</label>
                <div class="col-sm-8">
                  <textarea readonly={{readOnly}} ng-show="readOnly" rows="3" cols="50" class="form-control-textarea"  id="sprintDescription" name="sprintDescription" placeholder="Description of the sprint"  ng-model="sprint.sprintDescription" > </textarea>
                  <textarea ng-hide="readOnly" rows="3" cols="50" class="form-control-textarea"  id="sprintDescription" name="sprintDescription" placeholder="Description of the sprint"  ng-model="sprint.sprintDescription" > </textarea>
                </div>
              </div>
              <div class="form-group col-sm-10"  style="background-color: transparent;padding-left: 0px;">
                <div  class="col-sm-6 control-label"  ng-class="{ 'has-error': form.$submitted &&  form.sprintStartDate.$error}"><label class="control-label" for="sprintStartDate">Start date</label>
                  <md-datepicker type="date" id="sprintStartDate"    class="form-control"  ng-show="readOnly"  style="padding: 0px 0px;" ng-model="sprint.sprintStartDate" md-placeholder="Start date" disabled></md-datepicker>
                  <md-datepicker type="date" id="sprintStartDate"    name="sprintStartDate" class="form-control"  ng-hide="readOnly"  style="padding: 0px 0px;" ng-model="sprint.sprintStartDate" md-placeholder="Start date" md-max-date="maxDate" md-date-filter="onlyWeekdaysPredicate" required ></md-datepicker>
                  <div ng-messages="form.$submitted && form.sprintStartDate.$error" class="help-block">
                    <div style="margin-left: 15px;" ng-message="required">Start date is required</div>
                  </div>
                </div>
                <div  class="col-sm-6 control-label" ng-class="{ 'has-error': form.$submitted &&  form.sprintEndDate.$error }" ><label class="control-label" for="sprintEndDate"  >End date</label>
                  <md-datepicker type="date"  ng-show="readOnly" id="sprintEndDate" name="sprintEndDate" class="form-control"   style="padding: 0px 0px;" ng-model="sprint.sprintEndDate" md-placeholder="End date" disabled ></md-datepicker>
                  <md-datepicker type="date" ng-hide="readOnly"  ng-if="sprint.sprintStartDate != null"  id="sprintEndDate" ng-show="sprint.sprintStartDate"  name="sprintEndDate" class="form-control"   style="padding: 0px 0px;" ng-model="sprint.sprintEndDate" md-placeholder="End date"  md-min-date="sprint.sprintStartDate" md-date-filter="onlyWeekdaysPredicate" required ></md-datepicker>
                  <md-datepicker type="date" ng-hide="readOnly" ng-if="sprint.sprintStartDate == null" id="sprintEndDate" ng-show="sprint.sprintStartDate"  name="sprintEndDate" class="form-control"   style="padding: 0px 0px;" ng-model="sprint.sprintEndDate" md-placeholder="End date"  md-min-date="sprint.sprintStartDate" md-date-filter="onlyWeekdaysPredicate" disabled ></md-datepicker><md-tooltip ng-hide="readOnly" ng-if="sprint.sprintStartDate ==null" md-direction="right"> Select the sprint start date first</md-tooltip>
                  <div ng-messages="form.$submitted && form.sprintEndDate.$error" class="help-block">
                    <div style="margin-left: 15px;" ng-message="required">Both the dates are required</div>
                  </div>
                </div>
                <div ng-messages="form.submitted && form.sprintEndDate.$invalid" class="help-block">
                  <div style="margin-left: 15px;" ng-message="required">End date can't be before start date</div>
                </div>
              </div>
              <div class="form-group" ng-readonly="readOnly" ng-class="{ 'has-error': form.$submitted && form.projectId.$invalid }">
                <label class="col-sm-3 control-label" for="projectId">Associated project</label>
                <div class="col-sm-10" style="padding-left: 0px;">
                  <div class="col-sm-8">
                    <select  style="font-size: 16px;min-width: 80px;" disabled="readOnly" id="projectId" name="projectId" class="form-control"  ng-model="sprint.projectId" required>
                      <option style="font-size: 16px;" value="" disabled selected>Select a project</option>
                      <option  style="font-size: 16px; " ng-repeat="project in projectsList"   value= {{project.projectId}}> {{project.projectName}}</option>
                    </select>
                  </div>
                  <div class="col-sm-8">
                    <div ng-messages="form.$submitted && form.projectId.$error" class="help-block">
                      <div ng-message="required">Project selection is required</div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.sprintEstimatedEffort.$invalid }">
                <label class="col-sm-3 control-label" for="textinput">Sprints's estimated effort</label>
                <div class="col-sm-10" style="padding-left: 0px;">
                  <div class="col-sm-8">
                    <input type="number" min="0" class="form-control" ng-readonly="readOnly" id="sprintEstimatedEffort" name="sprintEstimatedEffort" placeholder="Person-hours"  ng-model="sprint.sprintEstimatedEffort" required>
                    <div ng-messages="form.$submitted && form.sprintEstimatedEffort.$error" class="help-block">
                      <div ng-message="required">Estimated effort is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.sprintActualEffort.$invalid }">
                <label class="col-sm-3 control-label" for="textinput">Sprints's actual effort</label>
                <div class="col-sm-10" style="padding-left: 0px;">
                  <div class="col-sm-8">
                    <input type="number" min="0" class="form-control"  id="sprintActualEffort" ng-readonly="readOnly" name="sprintActualEffort" placeholder="Person-hours"  ng-model="sprint.sprintActualEffort">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="selectedDomains">Associated domain(s)</label>
                <div class="col-sm-5">
                  <div ng-repeat="(key, val) in domainsList">
                    <md-checkbox type="checkbox" name="selectedDomains" ng-disabled="readOnly" style="margin-bottom: 8px;" class="md-primary" ng-model="formData.selectedDomains[val.domainName]"
                    >  {{val.domainName}} </md-checkbox>
                  </div>
                  <div ng-repeat="(key, val) in extraDomainsList" >
                    <md-checkbox type="checkbox" name="selectedDomains" ng-disabled="readOnly" style="margin-bottom: 8px;" class="md-primary" ng-model="formData.selectedDomains[val.domainName]"
                    >  {{val.domainName}} </md-checkbox>
                  </div>
                </div>
                <div class="col-sm-5" >
                  <md-button  ng-click="openDialog($event)" ng-hide="readOnly" class="add-tab  md-primary md-raised pull-center">Add new domain</md-button>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="AssetsInvolved">Assets involved</label>
                <div class="col-sm-5">
                  <div ng-repeat="(key, val) in assetsList">
                    <md-checkbox type="checkbox" name="selectedAssets" ng-disabled="readOnly" style="margin-bottom: 8px;" class="md-primary" ng-model="formData2.selectedAssets[val.assetName]"
                  >  {{val.assetName}} </md-checkbox>
                  </div>
                  <div ng-repeat="(key, val) in extraAssetsList">
                    <md-checkbox type="checkbox" name="selectedAssets" ng-disabled="readOnly" style="margin-bottom: 8px;" class="md-primary" ng-model="formData2.selectedAssets[val.assetName]"
                    >  {{val.assetName}} </md-checkbox>
                  </div>
                </div>
                <div class="col-sm-5" >
                  <md-button  ng-click="openDialog2($event)" ng-hide="readOnly" class="add-tab  md-primary md-raised pull-center">Add new asset</md-button>
                </div>
              </div>
              <div >
                <div class="pull-right" style="margin-top: 5px;">
                  <md-button style="font-size: 15px; background-color: rgb(90, 132, 187);" ng-click="updateReadOnly(readOnly)" ng-show="readOnly" class="add-tab md-primary md-raised"><i class="glyphicon glyphicon-edit"> </i> Edit </md-button>
                  <md-button type="submit" style="font-size: 15px;  background-color: rgb(90, 132, 187);" ng-hide="readOnly"  class="add-tab md-primary md-raised">Next </md-button>
                  <md-button class="md-raised" style="font-size: 15px; " ng-hide="readOnly"  ng-click="clearSprint($event, sprint)">Clear </md-button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-5" style="align-self: normal;" >
        <div  >
          <div class="col-sm-8" style="width:80%;margin-top: 10px;margin-bottom: 20px;">
            <label> Sprint Status </label>
            <md-radio-group style="display:inline-flex;"  ng-model="sprint.sprintStatus" ng-change= "checkFinished(sprint)">
              <md-radio-button value='true' ng-disabled="readOnly" class="md-primary">Ongoing</md-radio-button>
              <md-radio-button style="margin-left: 10px;" class="md-primary" value='false' ng-disabled="readOnly"> Finished </md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <div style="margin-top: 0px;margin-bottom: 180px;">
          <label class="col-sm-3 control-label" for="sprintPhase">Sprint Phase</label>
          <div style="margin-bottom: 30px;" class="col-sm-8" ng-readonly="readOnly">
            <input type="text" placeholder="Phase of the sprint" id="sprintPhase" name="sprintPhase" ng-readonly="readOnly" class="form-control" ng-model="sprint.sprintPhase">
          </div>
        </div>
        <div class="panel panel-default-table panel-table">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Sprint Participants </strong></h3>
          </div>
          <div class="panel-body" ng-if="displayAddButton != true;">
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Role</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="participant in sprintParticipants | orderBy:'personName'"  ng-click="manageSprintParticipants(sprint)" >
                  <td >
                    <span ng-model="letterLimit" class="avatar" data-toggle="tooltip" data-placement="top" data-container="body" style="background-color: #29516D; width: 28px; height: 26px; font-size: 12px; padding-top: 5px; margin-right: 3px" data-original-title={{participant.personName }}> {{ participant.personName | limitTo:2 | uppercase }}<md-tooltip ng-hide="project.projectStartDate" md-direction="right"> {{ participant.personName }}</md-tooltip></span>
                    {{ participant.personName}}
                  </td>
                  <td>{{participant.roleName}}</td>
                </tr>
                <tr>
                  <td colspan="2" style="border-top: 1px solid #fff; text-align: center">
                    <md-button type="submit" style="font-size: 15px; background-color: rgb(90, 132, 187);"  class="add-tab md-primary md-raised" ng-click="editSprintParticipants()"> <i class="glyphicon glyphicon-edit"> </i> Edit  </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        <div  ng-if="displayInfo == true;"  class="panel-body">
          <div ng-cloak style="margin-top: 15px;" class="alert alert-info" role="alert">
          <strong>Info: </strong>Issue(s) have been moved to this project from another project. This is why the role of some member(s) is blank.
          </div>
        </div>


    <div ng-if="displayAddButton == true;"  class="panel-body">
      <div ng-cloak style="margin-top: 15px;" class="alert alert-info" role="alert">
        No participants exist in this sprint.
      </div>
      <div class="col-sm-3 pull-right" >
        <md-button type="submit" style="font-size: 15px; background-color: rgb(90, 132, 187);"  class="add-tab md-primary md-raised" ng-click="editSprintParticipants()"> <i class="glyphicon glyphicon-plus"> </i> Add  </md-button>
      </div>
    </div>

        </div>
      </div>
    </div>
  </md-whiteframe>
</md-content>
