<style>
.md-button.md-icon-button {
  margin: -4px 2px;
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary, .md-button.md-primary.md-raised {
  color: rgba(255,255,255,0.87);
  background-color: rgb(90, 132, 187);
}
.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused,.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover,.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused,.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: rgb(90, 132, 187);
}
.rzslider {
  margin: 35px 0px 15px 40px;
}
.md-tooltip {
  height: auto;
  line-height: 20px;
}
table {
  margin-top: 25px;
}
</style>
<script>
$(".nav-tabs li").eq(5).addClass("active");
$(".nav-tabs li").eq(0).removeClass("active");
$(".nav-tabs li").eq(1).removeClass("active");
$(".nav-tabs li").eq(2).removeClass("active");
$(".nav-tabs li").eq(3).removeClass("active");
$(".nav-tabs li").eq(4).removeClass("active");

</script>
<md-content style="overflow: unset;margin-bottom: 50px;" >
  <md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center">
    <div class="container" >
      <form class="form-horizontal" name="form" ng-submit="saveQuestionnaire(questionnaire)"  novalidate>
        <fieldset>
          <div class="col-md-12">
            <label style="padding-bottom: 15px;"  for="textinput">Sprint - Post Completion Questionnaire</label>
            <md-card >
              <md-content>
                <md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center">
                  <md-card-title>
                    <md-card-title-media>
                    </md-card-title-media>
                    <md-card-title-text>
                      <div>
                        <div style="padding-top: 5px;display: flex;border-top: solid;">
                          <div style="width:50%;margin-left: 2%;display:inline-flex;"> <span style="padding-top:10px;"> Estimated effort for sprint:</span> <input readonly style= "width: 60px;padding: 0 6px;margin: 6px 8px;height: 38px;" ng-model="sprintDetails.sprintEstimatedEffort"  ><span style="padding-top:10px;">Person-hours</span> </div> <div style="width:50%;display:inline-flex;margin-left: 2%;"> <span style="padding-top:10px;"> Actual effort for sprint:</span> <input readonly style= "width: 60px;padding: 0 6px;margin: 6px 8px;height: 38px;" ng-model="sprintDetails.sprintActualEffort"  > <span style="padding-top:10px;">Person-hours</span></div>
                        </div>
                        <div style="display: flex">
                          <div style="width:50%;margin-left: 2%;display:inline-flex;"> <span style="padding-top:10px;"> Expected coaching potential:</span> <input readonly style= "width: 90px;padding: 0 6px;margin: 6px 8px;height: 38px;" ng-model="sprintDetails.expectedCoachingPotential" ><span style="padding-top:10px;"></span> </div> <div style="width:50%;display:inline-flex;margin-left: 2%;"> <span style="padding-top:10px;">Expected team knowledge diversity:</span> <input readonly style= "width: 90px;padding: 0 6px;margin: 6px 8px;height: 38px;" ng-model="sprintDetails.expectedTeamKnowledgeDiversity" > <span style="padding-top:10px;"></span></div>
                        </div>
                      </div>
                    </md-card-title-text>
                  </md-card-title>
                </md-whiteframe>
              </md-content>
            </md-card>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Effort estimation </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right">
                        <p>Was effort under estimated? Over estimated? On target?<br/>
                          <strong>Accurately estimated:</strong> Estimated effort was within +/- 25% range of actual effort<br/>
                          <strong>Overestimated:</strong> Estimated effort was 25% to 50% more than actual effort<br/>
                          <strong>Underestimated:</strong> Estimated effort was 25% to 50% less than actual effort<br/>
                          <strong>Highly overestimated:</strong> Estimated effort was more than 50% of actual effort<br/>
                          <strong>Highly underestimated:</strong> Estimated effort was less than 50% of actual effort<br/>
                        </p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question1"  rz-slider-options="q1.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex; margin-top: 18px;" ng-if="q1Comment">
                      Comment:  <textarea rows="3"style="margin-left:10px;" cols="50" class="form-control-textarea"  id="question1" name="question1" placeholder="Comment on effort estimation"  ng-model="questionnaire.question1Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button ng-hide="q1Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q1Comment = true;" >Add comment</md-button>
                  <md-button ng-show="q1Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q1Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Team productivity/ performance </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p></p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question2"  rz-slider-options="q2.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q2Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question2" name="question2" placeholder="Comment on team productivity/ performance"  ng-model="questionnaire.question2Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button ng-hide="q2Comment"   class="md-primary md-raised" style="font-size: 15px;"ng-click="q2Comment = true;" >Add comment</md-button>
                  <md-button ng-show="q2Comment"  class="md-primary md-raised" style="font-size: 15px;"ng-click="q2Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Relationship between expected quality and actual quality of outcomes </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p>In relation to the expected quality, did the project fulfill it’s goal?</p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question3"  rz-slider-options="q3.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q3Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question3" name="question3" placeholder="Comment on relationship between expected quality and actual quality of outcomes"  ng-model="questionnaire.question3Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button ng-hide="q3Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q3Comment = true;" >Add comment</md-button>
                  <md-button ng-show="q3Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q3Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Resultant coaching potential </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p></p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question4"  rz-slider-options="q4.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q4Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question4" name="question4" placeholder="Comment on resultant coaching potential "  ng-model="questionnaire.question4Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button  ng-hide="q4Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q4Comment = true;" >Add comment</md-button>
                  <md-button  ng-show="q4Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q4Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Resultant team knowledge diversity </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p></p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question5"  rz-slider-options="q5.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q5Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question5" name="question5" placeholder="Comment on resultant team knowledge diversity "  ng-model="questionnaire.question5Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button  ng-hide="q5Comment"   class="md-primary md-raised" style="font-size: 15px;"ng-click="q5Comment = true;" >Add comment</md-button>
                  <md-button  ng-show="q5Comment"   class="md-primary md-raised" style="font-size: 15px;"ng-click="q5Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Overall success of the sprint </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p></p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question6"  rz-slider-options="q6.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q6Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question6" name="question6" placeholder="Comment on overall success of the sprint "  ng-model="questionnaire.question6Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button  ng-hide="q6Comment"  class="md-primary md-raised" style="font-size: 15px;"ng-click="q6Comment = true;" >Add comment</md-button>
                  <md-button  ng-show="q6Comment"  class="md-primary md-raised" style="font-size: 15px;"ng-click="q6Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">Overall quality of outcomes </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p></p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question7"  rz-slider-options="q7.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q7Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question7" name="question7" placeholder="Comment on overall quality of outcomes "  ng-model="questionnaire.question7Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button   ng-hide="q7Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q7Comment = true;" >Add comment</md-button>
                  <md-button   ng-show="q7Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q7Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label class="control-label" for="textinput">How was actual effort in relation to project circumstances? </label>
                    <i style="margin-left: 10px;" class="glyphicon glyphicon-info-sign control-label">
                      <md-tooltip style="font-size:14px" md-direction="right"> <p></p>
                      </md-tooltip>
                    </i>
                  </div>
                  <div>
                    <article >
                      <rzslider  rz-slider-model="questionnaire.question8"  rz-slider-options="q8.options"></rzslider>
                    </article>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;" ng-if="q8Comment">
                      Comment:  <textarea rows="3" cols="50" class="form-control-textarea"  id="question8" name="question8" placeholder="Comment on the relationship "  ng-model="questionnaire.question8Comment" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                  <md-button  ng-hide="q8Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q8Comment = true;" >Add comment</md-button>
                  <md-button  ng-show="q8Comment" class="md-primary md-raised" style="font-size: 15px;"ng-click="q8Comment = false;" >Close comment</md-button>
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-11">
                  <div style="display: inline-flex">
                    <label for="textinput">Other(s)</label>
                    <div class="col-md-8" style="margin-left: 0px;display: inline-flex;margin-top: 18px;">
                      <textarea rows="3" cols="50" class="form-control-textarea"  id="other" name="other" placeholder="Any other comment"  ng-model="questionnaire.other" > </textarea>
                    </div>
                  </div>
                </td>
                <td class="col-md-1">
                </td>
              </tr>
            </table>
            <table class="col-md-12">
              <tr>
                <td class="col-md-6">
                </td>
                <td class="col-md-6">
                  <div ng-if="lastUpdate">
                    Last updated on: {{lastUpdate}} Last updated by: {{questionnaire.updatedBy}}
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div style="padding-top: 20px;"class="form-group col-sm-8 ">
            <div class="pull-right">
              <md-button type ="submit" class="md-primary md-raised" style="font-size: 15px;" > Save</md-button>
              <md-button type="reset"  class="md-raised"  style="font-size: 15px; "  ng-click="form.$setPristine();formData.selectedRoles=[];q1Comment=false;">Clear </md-button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </md-whiteframe>
</md-content>
