<style>
.md-button.md-default-theme.md-primary.md-cancel-button {
  background: whitesmoke;
  color: rgb(63,81,181);
}
textarea[readonly=true], textarea[readonly] {
  background-color: #eee;
  cursor: not-allowed;
}
.md-button.md-default-theme.md-primary.md-confirm-button {
  background: whitesmoke;
  color: rgb(63,81,181);
}
.md-button.md-icon-button {
  margin: -4px 2px;
}
.md-icon-button + .md-datepicker-input-container {
  margin-left: 0px;
}
.md-button.md-icon-button {
  margin: -4px 2px;
}
md-autocomplete {
  height: 35px;
}
.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: rgb(90, 132, 187);
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
  background-color: rgb(90, 132, 187);
}
.md-toolbar-tools {
  min-width: 600px;
}
svg:not(:root) {
  height: 15px;
}
.form-control {
  width: 95%;
}
.panel-table .panel-body {
  overflow-y: unset;
}
.table {
  margin-bottom: 0px;
}
</style>
<script>
$(".nav-tabs li").eq(1).removeClass("active");
$(".nav-tabs li").eq(2).addClass("active");
$(".nav-tabs li").eq(0).removeClass("active");
</script>
<md-content style="overflow: unset;" >
  <md-whiteframe class="md-whiteframe-18dp"  layout layout-align="center center">
    <div class="col-md-12" >
      <div>
        <div  style="margin-top: 30px;" class="panel panel-default-table panel-table">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Users</strong></h3>
          </div>
          <div class="panel-body ">
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>User name</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Remove user</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in usersList |orderBy:'userName'">
                  <td >
                    {{user.userName | capitalize}}
                  </td>
                  <td>
                    {{user.userFirstName | capitalize}}
                  </td>
                  <td>
                    {{user.userLastName | capitalize}}
                  </td>
                  <td>
                    {{user.usermailId}}
                  </td>
                  <td>
                    <md-button ng-disabled="user.userId == currentUserId || user.userName == 'admin'" class="md-raised" ng-click="removeUser($event, user)" aria-label="Close">
                      <i class="fa fa-close"></i> <md-tooltip ng-hide="user.userName == 'admin'" ng-if="user.userId == currentUserId" md-direction="top"> You can not remove the user <bold> {{user. userFirstName}} </bold></md-tooltip>
                      <md-tooltip ng-show="user.userName == 'admin'"  md-direction="top"> You can not remove the user <bold> {{user. userFirstName}} </bold></md-tooltip>
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </md-whiteframe>
</md-content>
